* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  border: 1px solid #000;
  border-radius: 4px;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
}

.box p {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
